doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Buy your books at the WKU Bookstore")
    meta(name="keywords" content="wku, bookstore, Western Kentucky University, college, bowling green, kentucky, ky, bg")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title WKU Bookstore
    // Bootstrap
    link(href="css/bootstrap.min.css" rel="stylesheet")
    // Font Awesome
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/custom.css")

  // *********************************************
  // onload calls the java script when the webpage is loaded
  body(onload="getISBN()")
    // Navigation
    // Add navbar-light bg-faded  to make navbar visiable
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="index.html") WKU Books
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle.active(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | Sign in
            .dropdown-menu.px-2(aria-labelledby="navbarDropdown")
              form(method='post', action='/login')
                input.dropdown-item.form-control.mt-1(type='text', name='username', placeholder='email')
                input.dropdown-item.form-control.my-1(type='password', name='password', placeholder='password')
                .dropdown-divider
                button#LogIn.dropdown-item(type='submit', onclick='logIn()') Log In
              button#SignUp.dropdown-item(type="button" onclick="signUp()") Sign Up
              // If Logged In
              button#SignOut.dropdown-item.example(type="button" style="display: none;" onclick="logOut()") Sign Out
          li.nav-item
            a.nav-link.active(href="#") Orders
          li.nav-item
            a.nav-link.active(href="/shoppingCart:"+user)
              i.fa.fa-shopping-cart(aria-hidden="true")
    // Search
    .container.mt-4.mb-3
      form
        .input-group
          input.form-control.hidden-sm(type="text" id="input" placeholder="Search for...")
          span.input-group-btn
            button.btn.btn-success(type="button")
              i.fa.fa-search(aria-hidden="true")
    .container
      .row
        .p-2.col-12.order-1.order-md-1
          h5.font-weight-bold #{bookInfo.title}
          p
            small
              | by 
              a(href='/searchRes:' + bookInfo.author) #{bookInfo.author}
          hr
        .col-12.col-md-3.order-2.order-md-2.mb-4(align="center")
          img.img-fluid(src=bookInfo.img alt="Responsive image")
        .p-2.col-12.col-md-6.px-3.order-4.order-md-3.my-3
          div
            h3
              strong
                | Book Summary
            | #{bookInfo.descript}
        .p-2.col-12.col-md-3.order-3.order-md-4
          form(method='post', action='/buy')
            ul.list-group
              li.list-group-item.d-flex.justify-content-between.1h-condensed
                .input-group
                  input.form-control.form-control-sm(type="text" placeholder="Quantity" name="qty")
                  input#formISBN(type="text" name="isbn")
                  span.ml-2 @ #{bookInfo.price}
              li.list-group-item.d-flex.justify-content-between.1h-condensed
                div
                  h6.my-0
                    | Total
                strong Total here
            button.btn.btn-success.btn-lg.btn-block.mt-4(type="submit" ) Buy Now!
          .mt-4
            hr
            strong Specifications
            .container-fluid
              .row
                .col-4
                  | ISBN:
                .col-8#ISBN
                  | #{bookInfo.isbn}
                .col-4
                  | Pub.:
                .col-8
                  | #{bookInfo.pub}
                .col-4
                  | Ed.
                .col-8
                  | #{bookInfo.ed}
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
    script(src="js/customFunctions.js")
